<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/btn.css">
    <link rel="stylesheet" href="../css/counselor-profile.css">
    <!-- <link rel="stylesheet" href="index.css"> -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <title>Counsoler's profile</title>
</head>
<body>
    <!--Counsoler's profile-->
                <!--navbar-->
            
                <!--/navbar-->
    <!--main-->
    <div class="flex-row border m-5 rounded ">
        <img src="../images/<%= counselor.picture %>" alt="" class="therapist rounded m-4">
        <!--description and button-->
        <div class="flex-col m-4 w-100">
            <div>
                <h4><%= counselor.name %></h4>
                <div> <%= counselor.experience %></div>

                    <h5>Eğitim:</h5>
                     <div><%= counselor.education %></div>
                    
                    <h5>Deneyim:</h5>
                     <div><%= counselor.description %></div>
            </div>
            <div class="flex-row justify-end w-100">
                <button class="btn btn2 mt-3" onclick="window.location.href='<%= counselor._id %>/book'">Randevu Al</button>
            </div>

        </div>
    </div>
    <!--/Counsoler's profile-->


    <!--FeedBack-->
    <div class="feedback-section m-5 flex-col justify-first">
        <h3>Geri Bildirimler</h3>
        <div class="review bg mb-3 p-3 rounded">
            <p><strong>Ali K.</strong></p>
            <p class="rating">★★★★★</p>
            <p>Dr. Ahmet çok yardımcı oldu, önerilerini uygulamak hayatımı değiştirdi!</p>
            <!-- date of review-->
            <div class="flex-row justify-end gray">
                <p class="me-2">29.03.2025</p>
                <p>13:42</p>

            </div>
        </div>
        <div class="review bg mb-3 p-3 rounded">
            <p><strong>Elif T.</strong></p>
            <p class="rating">★★★★☆</p>
            <p>İyi bir danışman, ancak daha fazla seans almak isterdim.</p>
            <!-- date of review-->
            <div class="flex-row justify-end gray">
                <p class="me-2">29.03.2025</p>
                <p>13:42</p>

            </div>
        </div>
    </div>
    <!--/FeedBack-->
</body>
</html>