<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/btn.css">
    <link rel="stylesheet" href="../css/counselor-profile.css">
    <!-- <link rel="stylesheet" href="index.css"> -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/navbar.css">
    <title>Counsoler's profile</title>
</head>
<body>
    <!--Counsoler's profile-->
                <!--navbar-->
             <%- include('navbar') %>
                <!--/navbar-->
    <!--main-->
    <div class="flex-row border m-5 rounded ">
        <img src="../images/<%= counselor.picture %>" alt="" class="therapist rounded m-4">
        <!--description and button-->
        <div class="flex-col m-4 w-100">
            <div>
                <h4><%= counselor.name %></h4>
                <div> <%= counselor.experience %></div>

                    <h5>Eğitim:</h5>
                     <div><%= counselor.education %></div>
                    
                    <h5>Deneyim:</h5>
                     <div><%= counselor.description %></div>
            </div>
            <div class="flex-row justify-end w-100">
                <button class="btn btn2 mt-3" onclick="window.location.href='<%= counselor._id %>/book'">Randevu Al</button>
            </div>

        </div>
    </div>
    <!--/Counsoler's profile-->


    <!--FeedBack-->
   <div class="feedback-section m-5 flex-col justify-first">
  <h3>Geri Bildirimler</h3>
  <% for(let i = 0 ; i < comments.length ; ++i){ %>
    <div class="review bg mb-3 p-3 rounded">
      <p><strong><%= comments[i].user.name %></strong></p>
      <div id="stars" class="d-flex mb-4">
        <% for(let j = 0; j < 5; j++) { %>
          <% if(j < comments[i].rating) { %>
            <span class="star-rating filled">★</span>
          <% } else { %>
            <span class="star-rating">★</span>
          <% } %>
        <% } %>
      </div>
      <p><%= comments[i].content, %></p>
      <div class="flex-row justify-end gray">
        <p class="me-2"><%= comments[i].date %></p>
        <p><%= comments[i].time %></p>
      </div>
    </div>
  <% } %>  <!-- CLOSE the for loop here -->
</div>

    <!--/FeedBack-->
    <script src="../js/navbar.js"></script>
    <script src="../js/logout.js"></script>
</body>
</html>