<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counselors</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/btn.css">
    <link rel="stylesheet" href="../css/counselors.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
            <%- include('navbar') %> 

            <!--Header-->

            <div class="justify-center align-center flex-col m-5">
                <h2>Bir Danışman Seçin</h2>
                <p>Size en uygun danışmanı seçerek mental sağlığınıza destek olun.</p>
            </div>

           


            <!-- /Header-->

            <!--Counselors-->
         <div class="wrap flex-row align-center ms-5 mt-4 mb-4" id="counselors">

            
            
            
            <!---->
           
            <% for(let i = 0 ; i < allCounselors.length ; ++i ){ %>
                <% console.log(allCounselors.length) %>
                <div class="card border flex-col me-5 p-4 justify-center align-center">
                    <img src="/images/<%= allCounselors[i].picture %>" alt="" class=" therapist">
                    <h3>Dr.<%= allCounselors[i].name %></h3>
                    <p class="text-center"><%= allCounselors[i].experience %></p>
                    <p class="text-center">Deneyim: <%= allCounselors[i].yearOfExperience %> Yıl</p>
                    <p class="text-center">Yapılan Seansler : +<%= allCounselors[i].clients %> </p>
                    <div id="stars" class="d-flex mb-3">
                        <% for(let j = 0; j < 5; j++) { %>
                        <% rating = allCounselors[i].rating / allCounselors[i].clients %>
                        <% if(j < rating) { %>
                            <span class="star-rating checked">★</span>
                        <% } else { %>
                            <span class="star-rating">★</span>
                        <% } %>
                        <% } %>
                    </div>
                    
                    <button class="btn btn2 mt-3" onclick="window.location.href='/<%= allCounselors[i]._id %>'">Daha fazla</button>
                </div>
            
            <% } %>
           
            
    </div>
           

 <!--/Counselors-->

 <script id="counselors-data" type="application/json">
    <%- JSON.stringify(allCounselors) %>
  </script>
  <script src="../js/counselor-page.js"></script>
  <script src="../js/navbar.js"></script>
  <script src="../js/logout.js"></script>

    
</body>
</html>