<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anasayfa</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/btn.css">
    <link rel="stylesheet" href="./css/counselor-page.css">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/font/bootstrap-icons.css">
</head>
<body>
     <!-- navbar -->
        <div class="flex-row justify-end m-4">
     <select class="form-select width-20"  aria-label="Default select example">
        <option selected value="0">Randevular</option>
        <option value="1">Mesajler</option>
        <option value="3">Geri Bildirim</option>
        <option value="4" id="logout">Log out</option>
      </select>
    </div>

<!-- /navbar -->
<!-- Welcoming section -->
    <div id="main" class="flex-col justify-center align-center ">
       <h2>Hoş geldiniz, <span id="name"><%= counselor.name %></span>!</h2>

       <!-- Navigating -->
        <!-- <div class="flex-row mt-5">
            <button id="appointments" class="border-left p-4 n ps-5" onclick="changeBg(this.id); changeApp()">Randevular</button>
            <button id="messages" class="pe-5 ps-5 border-line" onclick="changeBg(this.id); changeMess()">Mesajlar</button>
            <button id="feedback" class="border-right p-4 n pe-5" onclick="changeBg(this.id); changeFeed()">Geri Bildirim</button>
        </div> -->
        <!-- /Navigationg -->

        <!--Body  -->
        <div id="body" class="flex-col">
 
                <!--Body  -->
        <div class="flex-col">
            <div class="flex-row justify-center"><h3 class="ms-5 mt-5 mb-3">Randevu Talepleri</h3></div>
            <!-- Requests -->
             <div class="flex-row wrap justify-center">
                <!-- request -->
                 <% for(let i= 0 ; i < requestedApps.length ; i++){%>
                <div class="flex-col border" id="c<%= i %>" >
                    <div class="flex-row ps-3 pt-3">
                        <p class=" pe-2">Tarih:</p>
                        <p class=" pe-3"><%= requestedApps[i].date %></p>
                    </div>
                    <div class="flex-row ps-3">
                        <p class=" pe-2">Saat:</p>
                        <p class=" pe-3"><%= requestedApps[i].time %></p>
                    </div>
                    <div class="flex-row ps-3">
                        <p class=" pe-2">Müşteri:</p>
                        <p class=" pe-3"><p><a href="#" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"><%= users[i].name %></a></p></p>
                        
                    </div>
                    <div class="flex-row ps-3">
                        <p class=" pe-2">Süre:</p>
                        <p class=" pe-3"><%= requestedApps[i].duration %></p>
                    </div>
                    
                    <div class="flex-row justify-end me-3 m-3">
                        <button class="btn btn-outline-danger me-2" onclick="decline('<%= requestedApps[i]._id %>','<%= counselor.name %>','<%= i %>')">Reddet</button>
                        <button class="btn btn-outline-success" onclick="accept('<%= requestedApps[i]._id %>','<%= counselor.name %>','<%= i %>')">Kabul et</button>
                    </div>
                    
                    
                    
                    
                </div>
                <% } %>
                <!-- /request -->
             </div>
             <!-- /Requests -->
            
            
            
            
             <div class="flex-row justify-center"><h3 class="ms-5 mt-5 mb-3">Müsait Tarihler</h3></div>
            
                <!-- Available dates -->
            <div class="flex-row wrap ms-5 justify-evenly">

                <!-- date -->
                    <% for(let i = 0 ; i < availApps.length ; ++i){ %>
                        <div class="flex-col border p-4">
                            <div class="flex-row">
                                <p class="pe-2">Tarih:</p>
                                <p><%= availApps[i].date %></p>
                            </div>
                            <div class="flex-row">
                                <p class="pe-2">Saat:</p>
                                <p><%= availApps[i].time %></p>
                            </div>
                            <div class="flex-row">
                                <p class="pe-2">Fiyat:</p>
                                <p><%= availApps[i].price %> <span>TL</span></p>
                            </div>
                            <div class="flex-row">
                                <p class="pe-2">Süre:</p>
                                <p><%= availApps[i].duration %> <span>DK</span></p>
                            </div>
                            <div class="flex-row justify-end"><i class="bi bi-trash3 pointer" onclick="deleteDate( '<%= availApps[i]._id %>' )"></i></div>
                        </div>
                        
                        
                      



                    <%}%>
                
                </div>
                <!-- btn -->
                <div class="edit flex-row justify-center" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">
                    <button class="btn btn2 mt-5">Yeni ekle</button>
                </div>
            
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="exampleModalLabel">Yeni tarih ekle</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <form id="avail-form">
                            <div class="mb-3">
                              <label for="recipient-name" class="col-form-label">Tarih:</label>
                              <input type="date" class="form-control" name="date">
                            </div>
                            <div class="mb-3">
                              <label for="recipient-name" class="col-form-label">Saat:</label>
                              <input type="text" class="form-control" id="recipient-name" name="time" value="15:30">
                            </div>
                            <div class="mb-3">
                              <label for="message-text" class="col-form-label">Fiyat:</label>
                              <input type="text" class="form-control" placeholder="TL" name="price" value="500">
                            </div>
                            <div class="mb-3">
                              <label for="message-text" class="col-form-label">Süre:</label>
                              <input type="text" class="form-control" placeholder="DK" name="duration" value="60">
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                              <button class="btn btn-primary" type="submit">Kaydet</button>
                            </div>
                          </form>
                        </div>
                        
                      </div>
                    </div>
                  </div>
                 <!-- /Modal -->
        
            <div class="flex-row justify-center"><h3 class="ms-5 mt-5 mb-3">Gelecek Randevular</h3></div>
            <!-- appointments -->
             <div class="flex-row wrap ms-5 justify-evenly">
                <% for(let i = 0; i < acceptedSessions.length ; ++i){ %>
            <!-- Appointment -->
            <div class="flex-col border" id="j<%= i %>">
                <div class="flex-row ps-3 pt-3">
                    <p class=" pe-2">Tarih:</p>
                    <p class=" pe-3"><%= acceptedSessions[i].date %></p>
                </div>
                <div class="flex-row ps-3">
                    <p class=" pe-2">Zaman:</p>
                    <p class=" pe-3"><%= acceptedSessions[i].time %></p>
                </div>
                <div class="flex-row ps-3">
                    <p class=" pe-2">Müşteri:</p>
                    <p class=" pe-3"><%= acceptedSessions[i].user %></p>
                </div>
                <div class="flex-row ps-3">
                    <p class=" pe-2">Süre:</p>
                    <p class=" pe-3"><%= acceptedSessions[i].duration %></p>
                </div>
                
                <div class="flex-row justify-end me-3 pointer"><i class="bi bi-trash3" onclick="cancel('<%= acceptedSessions[i]._id %>','<%= counselor.name %>','<%= i %>')"></i></div>
                
                
                
                
            </div>
            <% }%>
            <!-- /Appointment -->
            
        </div>
        </div>
        </div>

        <!-- /Body -->
        </div>

        <!-- /Body -->
        
    </div>

    <!-- <script src="./js/calendar.js"></script> -->
    <!-- <script src="./js/bootstrap.bundle.min.js"></script> -->
     <script id="requested" type="application/json">
        <%-JSON.stringify(requestedApps) %>
     </script>
     <script id="user" type="application/json">
        <%-JSON.stringify(users) %>
     </script>
     <script id="accepted" type="application/json">
        <%-JSON.stringify(acceptedSessions) %>
     </script>
    <script src="./js/counselor-homepage.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>
</body>
</html>